{% include 'base.html' %}
{% block main %}
    <h1 class="m-5">Hello!! Welcome to GetADoc!!!</h1>
    <h1>Time is {{ moment(date).format('LLL') }}</h1>
    <h2 class="text-center text-primary">{{ current_user.full_name }}</h2>
    <div class="mt-5 d-flex flex-column offset-4 col-4 p-5 center">
        {% if current_user.is_anonymous %}
        <a class="btn btn-success m-2" href={{ url_for('login') }}>Login</a><br>
        {% else %}
        <a class="btn btn-success m-2" href={{ url_for('logout') }}>Logout</a><br>
        {% if current_user.id[0] == 'P' %}
        <a class="btn btn-warning m-2" href={{ url_for('finddoctor') }}>Find Doctor</a><br>
        <a class="btn btn-danger m-2" href={{ url_for('myappointments') }}>My Appointments</a><br>
        {% else %}
        <a class="btn btn-danger m-2" href={{ url_for('myappointments') }}>My Bookings</a><br>
        {% endif %}
        {% endif %}
        <a class="btn btn-warning m-2" href={{ url_for('about') }}>About</a><br>
        {% if current_user.is_anonymous %} 
        <a class="btn btn-dark m-2" href={{ url_for('register', choice='doctor') }}>Register as a Doctor</a><br>
        <a class="btn btn-danger m-2" href={{ url_for('register', choice='patient') }}>Register as a Patient</a><br>
        {% endif %}
    </div>
{% endblock %}
