{% include 'base.html' %}
{% block main %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="text-light">
            {{ form.name.label }}<br>
            {{ form.name() }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-light">
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-light">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-light">
            {{ form.city.label }}<br> 
            {{ form.city() }}
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% if choice=='doctor' %}
        <p class="text-light">
            {{ form.phone.label }}<br> 
            {{ form.phone() }}
            {% for error in form.phone.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-light">
            {{ form.address.label }}<br> 
            {{ form.address() }}
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-light">
            {{ form.qual.label }}<br> 
            {{ form.qual() }}
            {% for error in form.qual.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="text-light">
            {{ form.fees.label }}<br> 
            {{ form.fees() }}
            {% for error in form.fees.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% endif %}
        <p>{{ form.submit(class='btn-primary') }}</p>
    </form>
{% endblock %}